* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}

.logo {
    color: #e41c2b;
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
 
}

nav ul li {
    cursor: pointer;
    font-weight: 500;
}

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url("https://images.unsplash.com/photo-1586190848861-99aa4a171e90");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero-text {
    color: white;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 12px 25px;
    border: none;
    background: #e41c2b;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.brands {
    padding: 60px;
    text-align: center;
}

.brands h2 {
    margin-bottom: 30px;
}

.brand-logos {
    display: flex;
    justify-content: center;
    gap: 40px;
 
}

.brand {
    background: #f4f4f4;
    padding: 30px 40px;
    border-radius: 10px;
    font-weight: bold;
}


.impact {
    background: #f9f9f9;
    padding: 60px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .brand-logos {
        flex-direction: column;
    }
}
